instance_count = "2"
cloud_id = "b1gksj4ch1p92nbl0q123"
folder_id = "b1givf82degtu73bk123"
zone = "ru-central1-a"
image_id = "fd8qijldagirl1b0c123"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
subnet_id = "e9bbcnq29mjdhsak1123"
service_account_key_file = "./key.json"